ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

  font-family: sans-serif;
  font-size: 12px;

  display: block;

  text-align: center;
  padding: 80px 16px;

}
ul li {
font-family: helvetica;
color: #194d19;
display: block;

text-align: center;
padding: 60px 16px;
text-decoration: none;

}

li1 {
  float: left;
  padding: 14px 16px;
}
li:last-child {
font-family: sans-serif;

display: block;

text-align: center;
padding: 60px 16px;
text-decoration: none;

}
a { color:#006622;
text-decoration:none;
}

a:hover {
color:#00ff00;
text-decoration : none;
}

/* Style tab links */
.tablink {
  background-color: #00ff00;
  color: white;
  float: left;

  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 16px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.btn-group .button {
  background-color:#004d1a; /* Green */
  border: 1px;
  border-color: red;
   border-radius: 15px;
   box-shadow: 0 9px #999;
  color: #00ff00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
width: 420px;

}



.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn-group .button:hover {
  background-color: #3e8e41;
}
#Home {background-color:white;}
#News {background-color:white;}
#Contact {background-color:white;}
#About {background-color:white;}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #00ff00;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 150px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #00ff00;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  font-family: helvetica;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #00ff00;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #00ff00;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 10;
}
